.collapsible-content {
    display: none;
    padding : 5px;
}

.select-grade {
	z-index: 10;
}

.save_button{
	float: right;
}

.lock_img{
	width: 20px;
	height: 20px;
}

.hidden_input{
	display: none;
}