.collapsible-content {
    display: none;
    padding : 5px;
}

.comments-button{
	margin-top: 10px;
	width: 20px;
	margin-left: 30px;
	font-size:30px;
}

.right_caret{
	background-image: url("icons/right_caret.png");
	background-size: 50% 50%;
	background-repeat: no-repeat;
}

.down_caret{
	background: url("icons/down_caret.png");
	background-size: 50% 50%;
	background-repeat: no-repeat;
}
.comments-button:hover{
	cursor:pointer;
}

.select-grade {
	z-index: 10;
}

.save_button{
	float: right;
}

.lock_img{
	width: 20px;
	height: 20px;
}

.hidden_input{
	display: none;
}