.collapsible-content {
    display: none;
    padding : 5px;
}

.comments-button{
	margin-top: 10px;
	width: 20px;
	margin-left: 30px;
	font-size:30px;
}

.right_caret{
	background-image: url("icons/right_caret.png");
	background-size: 50% 50%;
	background-repeat: no-repeat;
}

.down_caret{
	background: url("icons/down_caret.png");
	background-size: 50% 50%;
	background-repeat: no-repeat;
}

.grade-text{
	display: inline-block;
}

#new_grade{
	margin-right: 10px;
    margin-top: 2px;
}

.save_form{
	display: inline-block;
    float: right;
}
.comments-button:hover{
	cursor:pointer;
}

.select-grade {
	z-index: 10;
}

.save_button{
	float: right;
}

.lock_img{
	width: 20px;
	height: 20px;
}

.hidden_input{
	display: none;
}

iframe{
	border: solid 1px black !important;
	border-radius: 10px;
}

.twitter-container{
    width: 70%;
    margin: 0 auto;
    margin-top: 15px;
    height: 150px !important;
    margin-bottom: 25px;
}

.twitter-timeline{
    height: 150px !important;
}