<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/classList.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/login.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/base.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/coursePage.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='javascript/collapsible.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/notification.js')}}"></script>

</head>
<body>

    <div class="topBanner">
        <div class="bannerTitle">
            Student Grading System
        </div>
    </div>

    <div class="topnav">
        <a href="#bookstore">Bookstore</a>
        <a href="#hr">University HR</a>
        <a href="#fms">FMS</a>
        <a href="#enrollments">Enrollment</a>
        <a href="#coop">Co-op Eval</a>
        <a href="/courses" class="active">Grades</a>
    </div>

    {% block notifcation %}
        {% for n in notifications %}
            {% if not n['is_expired'] %}
            <div class="topBanner bannerColor" id="notification-{{ n['id'] }}">
                <div class="message">
                    {{ n['message'] }}
                </div>
                <div class="dismissAlign">
                    <form>
                        <input type="button" name="dismiss" value="dismiss" class="dismissButton" onclick="expireNotif({{ n['id'] }})">
                    </form>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endblock %}

    <div class="twitter-container">
        <a class="twitter-timeline"  href="https://twitter.com/hashtag/RITSWEN344_1" data-widget-id="861606291864682502">#RITSWEN344_1 Tweets</a>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>




{% block body %}
{% endblock %}

</body>
</html>