<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/classList.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/login.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/base.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/coursePage.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='javascript/collapsible.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/notification.js')}}"></script>

</head>
<body>

    <div class="topBanner">
        <div class="bannerTitle">
            Student Grading System
        </div>
    </div>

    {% block notifcation %}
        {% for n in notifications %}
            {% if not n['IS_EXPIRED'] %}
            <div class="topBanner bannerColor" id="notification-{{ n['ID'] }}">
                <div class="message">
                    {{ n['MESSAGE'] }}
                </div>
                <div class="dismissAlign">
                    <form>
                        <input type="button" name="dismiss" value="dismiss" class="dismissButton" onclick="expireNotif({{ n['ID'] }})">
                    </form>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endblock %}

    




{% block body %}
{% endblock %}

</body>
</html>