{% extends "base.jinja" %}
{% block body %}
    <div>
        <div class="titleDiv">
            Courses
        </div>
        <div class="centerDiv tableBorderColor">
            <table class="table">
            <thead>
              <tr>
                {% if student %}
                <th>Comments</th>
                {% endif %}
                <th>Course</th>
                <th>Grade</th>
              </tr>
            </thead>
            <tbody>
                {% for s in section_list %}
                    {% if student %}
                    <tr class="collapsible-header">
                        <td>
                            <button class="comments-btn">Comments</button>
                        </td>
                    {% else %}
                    <tr>
                    {% endif %}
                        <td>
                            {% if not student %}
                            <a href="/course/{{user['ID']}}/{{s['COURSE_ID']}}/{{s['ID']}}">
                            {% endif %}
                            {{ s['COURSE_NAME'] }} -  Section {{ s['ID']}}
                            {% if not student %}
                            </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if student %}
                            {{ s['grade']['VALUE'] }}
                            {% else %}
                            {{ s['MAX_STUDENTS'] }}/{{ s['MAX_STUDENTS'] }}
                            <br>
                            graded
                            {% endif %}
                        </td>
                    </tr>
                    {% if student %}
                    <tr class="collapsible-content">
                        <td colspan="2">
                            <p><strong>Comments</strong></p>
                            {% for c in s["comments"] %}
                            <p>
                                {{ c["FIRSTNAME"] }} {{ c["LASTNAME"] }} ({{ c["ROLE"] }}) - Posted {{ c["CREATED_TIME"] }}
                                <br>
                                {{ c["CONTENT"] }}
                            </p>
                            {% endfor %}
                            <form action="/create_comment" method="post">
                                {{form.user_id(value=user['ID'])}}
                                {{form.grade_id(value=s['grade']['ID'])}}
                                {{form.message(placeholder='Write a comment')}}
                                <button style="float: right">Submit</button>
                            </form>
                        </td>
                    </tr>
                    {% endif %}
            {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
{% endblock %}