{% extends "base.jinja" %}
{% block body %}
    <div>
        <div class="titleDiv">
            {{section["course_name"]}}
        </div>
        <div class="centerDiv tableBorderColor">
            <table class="table">
            <thead>
              <tr>
                <th>Student</th>
                <th>Grade</th>
              </tr>
            </thead>
            <tbody>
                {% for student_id in grades_comments %}
                    <tr class="collapsible-header">
                        <td>
                            <strong>{{ grades_comments[student_id]["student"]["first_name"] }}
                             {{ grades_comments[student_id]["student"]["last_name"] }}</strong>
                        </td>
                        <td>
                            <strong>{{ grades_comments[student_id]["grade"]["value"] }}</strong>
                        </td>
                    </tr>
                    <tr class="collapsible-content">
                        <td colspan="2">
                            <strong>Comments</strong>
                            <br>
                            {% for c in grades_comments[student_id]["comments"] %}
                            <p>
                                {{ c["author"]["first_name"] }} {{ c["author"]["last_name"] }} ({{ c["author"]["role"] }}) - Posted {{ c["created_time"] }}
                                <br>
                                {{ c["comment"] }}
                            </p>
                            {% endfor %}
                        <input type="text" style="width: 80%" placeholder="Write a comment">
                        <button style="float: right">Submit</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
{% endblock %}
