{% extends "base.jinja" %}
{% block body %}
    <div>
        <div class="twitter-container">
            <a class="twitter-timeline"  href="https://twitter.com/hashtag/{{hashtag}}" data-widget-id="861606291864682502">#{{hashtag}} Tweets</a>

            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        </div>
        <div class="titleDiv">
            {{section["COURSE_NAME"]}}
        </div>
          
        <div class="centerDiv tableBorderColor">
            
            <table class="table">
                <thead>
                  <tr>
                    <th>Comments</th>
                    <th>Lock</th>
                    <th>Student</th>
                    <th>Grade</th>
                  </tr>
                </thead>
                
                <tbody>

                    {% if grades_comments is iterable %}
                        {% for student_id in grades_comments %}
                            <tr class="collapsible-header">
                                <td>
                                    <button class="comments-btn">Comments</button>
                                </td>
                                <td>
                                    {% if grades_comments[student_id]["grade"]["IS_LOCKED"] %}
                                        <img src="/static/stylesheets/icons/lock_icon.png" class="lock_img">
                                    {%endif%}
                                    {% if not grades_comments[student_id]["grade"]["IS_LOCKED"] %}
                                        <div class="lock_check">
                                            <form action="/lock_grades" method="post">
                                                {{form.student_id(value=student_id)}}
                                                {{form.section_id(value=section['ID'])}}
                                                {{form.course_id(value=course_id)}}
                                                <div class="lock_button">
                                                    <input name=Lock type=submit value=Lock>
                                                </div>
                                            </form>
                                        </div>
                                    {%endif%}
                                </td>
                                <td>
                                    <strong>{{ grades_comments[student_id]["student"]["FIRSTNAME"] }}
                                    {{ grades_comments[student_id]["student"]["LASTNAME"] }}</strong>
                                </td>
                                <td>
                                    <strong class="grade-text">{{ grades_comments[student_id]["grade"]["VALUE"] }}</strong>
                                    {% if not grades_comments[student_id]["grade"]["IS_LOCKED"] %}
                                        <form action="/save_grade" class="save_form" method="post">
                                            {{save_form.new_grade}}
                                            {{save_form.student_id(value=student_id)}}
                                            {{save_form.section_id(value=section['ID'])}}
                                            {{form.course_id(value=course_id)}}
                                            <div class="save_button">
                                                <input name=Save type=submit value=Save>
                                            </div>
                                        </form>
                                    {%endif%}
                                </td>
                            </tr>
                            <tr class="collapsible-content">
                                <td colspan="2">
                                    <p><strong>Comments</strong></p>
                                    <br>
                                    {% for c in grades_comments[student_id]["comments"] %}
                                    <p>
                                        {{ c["FIRSTNAME"] }} {{ c["LASTNAME"] }} ({{ c["ROLE"] }}) - Posted {{ c["CREATED_TIME"] }}
                                        <br>
                                        {{ c["CONTENT"] }}
                                    </p>
                                    {% endfor %}
                                <input type="text" style="width: 80%" placeholder="Write a comment">
                                <button style="float: right">Submit</button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>
                                <i>No enrolled students found</i>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            
        </div>
    </div>
{% endblock %}
